<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>Index</key>
			<string>0</string>
			<key>Title</key>
			<string>Open Schools for Brave Girls in Pakistan</string>
			<key>Type</key>
			<string>Project</string>
			<key>Contents</key>
			<string>This project allows you to play a part by helping BRAC eradicate illiteracy in Pakistan and foster the future success of thousands of Pakistani girls and women. Girls make up a majority of all BRAC classrooms. We’re the world’s largest implementer of “the girl effect,” the unique role that girls and women can play as positive agents of change in their societies and the world.
In some areas of the country, girls like Malala are discouraged from attending schools on religious grounds, and face serious life risks when challenging this ruling. BRAC combats these attitudes by working closely with community leaders, including religious leaders, to teach them the importance of girls’ education. With origins and experience in Bangladesh, a mainly Muslim country, BRAC has more maneuvering space in these sensitive cultural contexts.
With teaching methods that motivate the children to think critically, girls from poor backgrounds will become accomplished and influential members in their society and country. Specifically, this project will help purchase books for up to 3,300 students and offer pre-primary teacher training for 100 local women. Local women will be taught the importance of social and emotional learning in early childhood development – for example, creativity, play, good social skills and other building blocks for future development.
The project will operate in districts with little or no formal government pre-primary schools in Khyber Pakhtunkhwa Province, the most populous and poorest province in the country.
Globally, more than 95% of the children who have attended BRAC’s early childhood education centers have graduated to mainstream primary schools and have outperformed their peers. The BRAC education methodology is a proven one, written about in The New York Times. An antipoverty organization, BRAC is also the world’s largest secular nongovernmental education provider, with more than a million students enrolled in its schools in six countries. The writer Nicholas Kristof tweeted that BRAC is “the best aid group you&apos;ve never heard of.”</string>
			<key>URL</key>
			<string>http://www.chimeforchange.org/projects/open-schools-brave-girls-pakistan?pillar=education</string>
			<key>ImageURL</key>
			<string>http://www.catapult.org/sites/default/files/project/main/think%20BIG%20prospectus%20-%20pakistan%20education%201-550.jpg</string>
			<key>Lat</key>
			<real>27.5375</real>
			<key>Lng</key>
			<real>69.422607</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>Story</string>
			<key>Index</key>
			<string>1</string>
			<key>Title</key>
			<string>How I Use Cell Phones to Bridge the Gap for the Voiceless</string>
			<key>Contents</key>
			<string>Recently, I met Jyoti Bairagi - a 20 year old woman living in a remote village in India’s Madhya Pradesh state.

The village, perched on a rocky hill, had no motorable road and no running water. Everyone there wanted a boy and, when a woman gave birth to more than one girl child, it was killed. A girl’s education stopped at 5th standard, because the high school was 5 hours away, and after school, a girl would return home in pitch dark, thus running the risk of being molested. In few years, she was married off, as parents felt, she sat idle for way too long. This often resulted in early motherhood, post-natal sickness and infant mortality. The state had the highest rate of infant mortality and the worst sex ratio (888 girls to every 1000 boys) in India.

Jyoti didn’t want to get married early. She had heard that outside her village girls went to college and worked in offices. She wanted to be one of them. But first, she wanted her village to be connected with the world, and learn of those changes.

But how?

The concept of media didn’t exist; no reporter ever visited the village – over 2 hours’ walk from the nearest bus station. Nobody had a TV or bought newspapers.

But we had technology!

I was heading a program where underprivileged communities were trained to produce their own news. I spoke to a few mobile phone service providers. Jyoti’s village had a network!

‘A cell phone is all you need’ I told her.

Jyoti travelled to my office in Goa. There I helped her buy a mobile handset. In the next 2 weeks, besides basic Internet use, Facebook and Twitter, Jyoti learnt to subscribe to a free SMS service. She learned to type a Hindi text message in Roman script and write a micro-report using no more than 140 characters. Next, Jyoti learnt to send the SMS to a group of people. Each time, she could reach 145 people. I showed her how to add in that group, people who mattered: journalists, activists, Government officials and police officers. Most of them were active users of social media and could, through re-twits and re-posting, help take Jyoti’s hyper local reports to a pan-global audience.

Four days after she left Goa, Jyoti sent us her first news report:

‘I am in village. With me, my village has got its own media.&apos;

To me, this is what technology is all about: empowering one woman to help empower another, bridging the gap between the urban and the rural and, the vocal and the voiceless.

Waiting out there are millions of Jyotis. I strive to reach them all with technology, so, no injustice against them ever goes untold.</string>
			<key>URL</key>
			<string>http://www.chimeforchange.org/stories/how-i-use-cell-phones-to-bridge-the-gap-for-the-voiceless?pillar=justice</string>
			<key>ImageURL</key>
			<string>http://www.chimeforchange.org/system/images/BAhbBlsHOgZmSSIyMjAxMy8xMi8wMy8wMS8yNi8wMy8yMzEvU3RlbGxhX1BhdWxfc3RvcnkuanBnBjoGRVQ/Stella%20Paul%20story.jpg</string>
			<key>Lat</key>
			<real>22.719824</real>
			<key>Lng</key>
			<real>75.857849</real>
		</dict>
		<dict>
			<key>Title</key>
			<string>Win Back 6 Weeks of School Per Year for Girls in Kenya</string>
			<key>Index</key>
			<string>2</string>
			<key>Type</key>
			<string>Project</string>
			<key>Contents</key>
			<string>$15 a year keeps a girl in school anywhere in Kenya. This $15 gives her 120 pads, three underpants, and standardized health education.
News reports show girls are often forced to choose to stay home or engage in transactional sex to afford pads. One million girls in Kenya are in this situation. We think this is a human rights issue.
Providing pads plus health education reclaims 6 weeks of school, helping girls to graduate and step into the promise of their future.
Our goal is 10,000 girls by January – starting here with 1,000 girls.
Our process innovation combines three critical components. First, we are innovating a locally made, radically affordable sanitary pad to sustainably support girls and women. Rather than using expensive wood pulp, which is what is in current sanitary pads, we have created an absorbent layer made from non-wood fibers reducing the cost of the pads 40%.
Second, with the Egyptian-based textile company, Transformation Textiles, we are also innovating inexpensive cotton underpants by making underpants from excess quality fabrics that would have been discarded.
Last, our comic-based health pamphlets, distributed in pad packages, provide vital information in a fun, standardized way that girls can read in private, refer, back to, and share with friends and family.
Through this project, we will distribute 120,000 sanitary pads and 3,000 underpants to 1,000 girls, starting in January 2014-- the commencement of the Kenyan school year. This is 10% of our 2014 goal.
We’ll continue our work in pad distribution with vetted grass-roots partner organizations, which mentor and support girls in their communities. These include organizations such as Lifting the Barriers, Mully Children’s Family and Path to Womanhood. You&apos;ll be able to track distribution activities that you&apos;ve made possible through our mobile app.
This year we distributed 6,500 annual supplies of pads, underpants, and health education. With your help, lets make a big step toward serving 1,000 more girls in January 2014.</string>
			<key>URL</key>
			<string>http://www.chimeforchange.org/projects/win-back-6-weeks-school-year-girls-kenya?pillar=education</string>
			<key>ImageURL</key>
			<string>http://www.catapult.org/sites/default/files/project/main/ZA%20main%20project%20image-01.jpg</string>
			<key>Lat</key>
			<string>-0.02356</string>
			<key>Lng</key>
			<real>37.90619</real>
		</dict>
		<dict>
			<key>Title</key>
			<string>Breastfeeding: How Hard Can It Be?</string>
			<key>Index</key>
			<string>3</string>
			<key>Type</key>
			<string>Story</string>
			<key>Contents</key>
			<string>On a nature walk in Maryland with some family members this past summer, one of the kids took my aunt’s nursing cover off of the stroller and draped it around her neck like a cape.

“Look, it’s captain breast milk,” my uncle joked, as she tore down the path ahead of us. 

Had we been walking past the main La Leche League office in Illinois, I imagine she might have been recruited as a mascot.

La Leche League members have been advocating on the behalf of breasts over bottles since 1956 and the World Health Organization endorses exclusive breastfeeding practices. Breastfeeding strikes me as an intimately personal decision, but it’s actually a very political matter. And it&apos;s about money too. Indeed, formula companies aggressively target mothers and the industry has secured endorsement through hospitals. It has also built a customer base of women who find breastfeeding too inconvenient, can’t produce enough breast milk, are afraid of damaging their bodies, or consider this Western product a status symbol.

I reflected on what I knew about the mechanics of my own breasts. It didn’t take long, because I actually knew very little. And I suspect I’m not alone on this front. In fact, I can’t even remember having ever learned about milk-glands in sex-ed class in high school.

For many new mothers, the challenges of breastfeeding come as a rude awakening. But lactation consultants or other trained mentors are available to those determined to succeed. With “captain breast milk” on my mind, I struck out to find some civilians in need of breastfeeding support, back in Minnesota.

My curiosity led me to a group of Somali immigrants in Minneapolis who were learning to negotiate traditional breastfeeding practices with a new set of standards in America. I’d always assumed breastfeeding was intuitive. As it turns out, it’s a learned skill, heavily influenced by cultural norms. As illustrated by the women I talked with, no single culturally based set of practices is perfect.

Traditional Breastfeeding Obstacles

For local Somali mothers, Shamsa Idle’s breastfeeding class at Everyday Miracles offers a safe space for exploring the pros and cons of some culturally rooted practices and beliefs.

Muna Abshir, 21, did not start breastfeeding her firstborn until three days after delivery. Her mentor, Idle, cited this delay as a common practice among Somali mothers, who don’t understand the nutritious value of colostrum, a yellowish, thicker substance produced the first few days after birth that’s easier for newborns to digest.

This delay is cause for concern because this lack of baby-to-breast contact compromises the mother’s ability to build receptor sites in her glandular tissue, a crucial stage of the breastfeeding process.

“I thought the baby didn’t like the milk,” Abshir said, explaining that her baby took to formula.

To ensure that the “milk factory of the breast” is properly built, Kristine Beuch, a certified lactation consultant at St. Francis Regional Medical Center, encourages young mothers to start breastfeeding right away.

“A lot of times, when mothers quit nursing in three months, it’s because they were only building half of a factory. As their babies grew and needed more milk, it wasn’t there for them,” she said.

Commonly held notions that a baby does not like its mother’s milk or that a mother is unable to produce enough milk are often times a supply and demand issue created by not immediately introducing the baby to the breast. And when mechanics fail, mothers start searching for alternatives. Thus formula companies have long targeted markets in the developing world, where mothers often consider this Western product an upgrade.

“There’s a perception that formula, because it’s American, it’s good for [your baby],” said Linda Dech, the Peer Coordinator at Minnesota’s Women, Infants and Children program (WIC).

But formula is hard to come buy in war-torn Somalia, Idle explained, so women use camel, goat or cow milk instead.

The cultural insight I found most compelling, however, did not surface until the end of my conversation with Idle. When I asked her why so many mothers insisted on giving their babies water after breast milk, she told me they believe “breast milk is hot.”

“In traditional belief, when you come in the house from working, you have to wait to let your temperature come down,” she said.

Nasro Elmi, 30, gave birth to her first three children in Somalia and is now pregnant with her fifth. She said she usually breastfeeds for the first six months, then switches to formula.

“Of course a baby also needs water and formula,” she said.

Even when mothers breastfeed successfully, the practice of supplementing breast milk with water can cause further complications. Contaminated water in developing regions can give infants a lethal case of diarrhea and, pure or impure, water that displaces milk in a newborn’s tiny stomach can throw off their entire breastfeeding cycle.

Breast-fed babies who fill up on a supplement – whether water, or bottled formula – may not be hungry again when it comes time to relieve the mother of the breast milk her body has prepared. Beuch explained that this backed-up supply causes the mother’s breast to become engorged, pulling the tissue tight. When the baby is ready to breastfeed again, it cannot latch on properly to the swollen breast.

A Host of New Challenges in America

According to a recent study conducted by WIC, Somali mothers belong to the ethnic demographic leading breastfeeding rates in Minnesota; yet they are the most likely to supplement with formula, a practice that threatens to derail their success.

“They do a nice job of [breastfeeding],” Beuch said,. “It’s just that they feel like they have to do both and that kind of sets them up for failure three months down the road.”

As a trained Somali doula, Idle comforts, supports, and advocates on behalf of her clients before, during and after delivery. Convincing mothers not to accept bottles of formula from nurses in the hospital, she says, requires a great deal of educational persistence.

They are vulnerable, willing to trust medical professional who are quick to offer formula. “They don’t have any idea,” she said.

This American bottle-feeding culture is the very thing Beuch has devoted her life’s work to reversing. She had planned to breastfeed her firstborn, but she left the hospital with sore, engorged breasts and a sense of defeat. At the recommendation of medical professionals, she was ready to switch to bottled formula, but her husband gave her the encouragement she needed to succeed.

Realizing that she wanted to support other women in the same way her husband had supported her, she took her vision for a Breastfeeding Support Center to St. Francis. Despite her 38-year track record as a nurse, her proposal was met with much skepticism. She found that doctors actually knew very little about breastfeeding from medical school and nurses preferred bottles because they were more convenient.

Reluctance to incorporate breastfeeding education into the medical system is not the only thing keeping it from mainstream practice. Cultural attitudes of disgust and distain for this natural behavior still exist, despite our apparent comfort with breasts that don’t have a baby attached.

Commenting on the prevalence of scantly clad women on magazine covers, Laura Duckett, a nursing professor at the University of Minnesota, said, “Our society is fine with that kind of exposure, yet people still get worked up over breastfeeding. The irony is huge to me.”

Culturally Sensitive Solutions

There is another culturally bound force behind breastfeeding advocacy efforts that may be even more persuasive: the Koran.

Dressed in a black hijab, Bushira Jimale, 25, says her husband insisted that she attempt to breastfeed their children for two full years because this practice is cited in the Koran.

The Koran does not specify exclusive breastfeeding, but it may be a more culturally appropriate educational tool than medical reports and statistics.

After two unsuccessful attempts at exclusive breastfeeding for the full two-year term, Jimale plans to give it another try. Pregnant with her third child, she said, “I like to follow what my religion says.”

Seated with six women at the lesson-turned-communal dinner, Idle rattled off a list of benefits to sticking with breast milk – it is sterile, nutritious and free.

The women nodded in agreement. The simplest pitch, however, came from Elmi.

“God made it.” She said over her pregnant belly.</string>
			<key>URL</key>
			<string>http://www.chimeforchange.org/stories/breastfeeding-how-hard-can-it-be?pillar=health</string>
			<key>ImageURL</key>
			<string>http://www.chimeforchange.org/system/images/BAhbBlsHOgZmSSIsMjAxMy8xMC8yMS8yMi81OC81Ny81NjgvYmFieV9ib3R0bGUuSlBHBjoGRVQ/baby%20bottle.JPG</string>
			<key>Lat</key>
			<real>44.98333</real>
			<key>Lng</key>
			<real>-93.26667</real>
		</dict>
	</array>
</dict>
</plist>
